
/* Código primera versión */

.navLogo{
  margin-top: 30px;
  max-width: 200px;
  margin-bottom: 165px;
  margin-left: 20px;
}

.navItem{
  min-width: 150px;
}

.userImage{
  margin-top: 40px;
  margin-bottom: -20px;
  border-radius: 25em;
  max-height: 100px;
}

.logOutButton, .btn1{
  background-color: var(--color4) !important;
  border-color: var(--color5) !important;
}

a {
  color: var(--color2) !important;
}

.cardPanel {
  background-color: var(--color2);
  padding: 30px;
  border-radius: 25px;
  margin: 10%;
}

.loginCard {
  padding: 10px !important;
}

   
.iconAllergies{
    max-width: 30px;
    max-height: 30px;
}
.btnAllergies{
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
  border-radius: 25px;
  background-color: var(--color2);
}



/* Código segunda versión Dashboard incluido */

.dishCard {
  max-width: 40em;
  padding: 1em;
  margin: 1em;
}

.formCard {
  padding: 2em;
  margin: 1em;
}

.overflow-h {
  overflow: hidden !important;
}

.position-st {
  position: sticky !important
}
